body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: 'Discovery', Arial, sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: 10000;
}

#loading-gif {
    width: 200px;
    height: auto;
}

#loading-text {
    font-family: 'Discovery', Arial, sans-serif;
    color: #fff;
    text-align: center;
}

.loading-main-text {
    font-size: 22px;
    margin: 10px 0 5px 0;
}

.loading-sub-text {
    font-size: 10px;
    margin: 0;
}

.language-switch {
    position: absolute;
    top: 120px;
    left: 35px;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Discovery', Arial, sans-serif;
    cursor: pointer;
    z-index: 10001;
}

.language-switch .current-language {
    font-size: 20px;
    padding: 5px 10px;
    background-color: #000;
    border-radius: 5px;
}

.language-switch .language-list {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10002;
}

.language-switch .language-list div {
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

.language-switch .language-list div {
    background-color: #555;
}

.main-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    overflow: hidden;
    background: url('assets/images/Фон общий.png') no-repeat center center;
    background-size: cover;
}

.main-screen#stats-page {
    background: none;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: relative;
}

.coin-info {
    display: absolute;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    top: 5px;
    left: 15px;
}

.coin-text {
    margin-bottom: 5px;
}

.coin-amount {
    margin-right: 5px;
}

.coin-info img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
}

.gender-switch {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    top: 5px;
    right: 10px;
}

.gender-switch input[type="radio"] {
    display: none;
}

.gender-switch label {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.gender-switch input[type="radio"]:checked + label {
    background-color: #555555;
    color: #ffffff;
}

.gender-switch label {
    background-color: #f0f0f0;
    color: #000000;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
}

.character {
    width: 430px;
    height: auto;
    margin-bottom: -65px;
    margin-top: 10px;
    margin-left: -20px;
    cursor: pointer;
}

.character-her {
    width: 370px;
    height: auto;
    margin-bottom: -25px;
    margin-top: 10px;
    margin-left: -10px;
    cursor: pointer;
}

.text-container {
    width: 90%;
    max-width: 300px;
    text-align: left;
}

.text-background {
    background: url('assets/images/Фон для текста.svg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: left;
}

.text-main {
    font-size: 18px;
    margin: 0;
}

.text-sub {
    font-size: 14px;
    margin: 10px 0 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    width: 50px;
    height: 50px;
}

.page-controls {
    display: none;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #f0f0f0;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    position: absolute;
    bottom: 20px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.nav-item.active {
    background-color: #555555;
    border-radius: 10px;
}

.nav-item img {
    width: 26px;
    height: 26px;
}

.upgrades {
    width: 340px;
    max-width: 340px;
    background-color: #1c1c1e;
    border-radius: 20px;
    margin-top: -120px;
    padding: 20px;
}

.upgrades h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.upgrade-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.upgrade-item {
    margin-bottom: 0;
}

.upgrade-icon {
    width: 50px;
    height: 50px;
    background-color: #2c2c2e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-icon img {
    width: 30px;
    height: 30px;
}

.upgrade-details {
    flex-grow: 1;
    margin-left: 20px;
}

.upgrade-details h3 {
    color: #fff;
    margin: 0;
    font-size: 16px;
}

.upgrade-details p {
    color: #888;
    margin: 5px 0 0;
    font-size: 14px;
}

.upgrade-button {
    background-color: #ff3b30;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 17px;
    cursor: pointer;
    font-size: 14px;
}

.upgrade-button {
    background-color: #ff5e57;
}

.coming-soon {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.text-container-store {
    width: 280px;
    max-width: 300px;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
}

.content-group {
    margin-top: 220px;
}

.background-room {
    background: url('assets/images/Фон комната.svg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container-room {
    width: 90%;
    max-width: 300px;
    margin-top: 420px;
    margin-left: 20px;
    text-align: left;
}

#stats-page {
    background: url('assets/images/Фон комната.svg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coin-animation {
    position: absolute;
    color: #ffd700;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    animation: coin-fall 1s ease-out forwards;
    z-index: 1000;
}

.coin-animation img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

@keyframes coin-fall {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.partner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.partner {
    margin-bottom: 20px;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-background {
    font-size: 1.5em;
}

.subscribe-button, .confirm-button {
    background-color: #ff3b30;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 17px;
    cursor: pointer;
    font-size: 14px;
}

.subscribe-button, .confirm-button {
    background-color: #ff5e57;
}

.checkmark {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.centered-image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    margin-top: -10px;
}

.friends-title {
    margin-top: 30px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.invite-text {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.copy-button {
    background-color: #ff3b30;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.copy-button {
    background-color: #ff5e57;
}

.referral-link {
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1c1c1e;
    border: none;
    border-radius: 10px;
    width: 300px;
}

.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #32CD32;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}

.airdrop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.airdrop-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.counter-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.counter-controls {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
    background-size: cover;
    background-color: transparent;
    position: relative;
    width: 150px;
}

.counter-controls button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    touch-action: manipulation;
    position: absolute;
}

.counter-controls button#minus-referrals, .counter-controls button#minus-days {
    left: 4px;
}

.counter-controls button#plus-referrals, .counter-controls button#plus-days {
    right: 4px;
}

.counter-controls span {
    margin: 0 30px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-left: 62px;
    position: relative;
}

.rewards-container {
    width: calc(100% - 20px);
    text-align: left;
}

.rewards-list {
    list-style: none;
    padding: 0;
}

.reward-item {
    list-style-type: none;
    border: 2px solid #9d53ff;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

.reward-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.reward-image {
    width: 100px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.reward-info {
    flex-grow: 1;
}

.reward-title {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #fff;
}

.progress-bar {
    flex-grow: 1;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    position: relative;
    width: calc(100% - 25px);
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #00ff00;
    border-radius: 5px;
}

.progress-percent {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.counter-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes levitate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.whitepaper-text {
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}
